* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  padding: 15px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #F8FAFF;
  color: #232323;
}

h1, h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 500;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.3em;
}
h4 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

a, .link {
  color: #1B7D62;
  cursor: pointer;
}

/* --------------------------------------------------------------
  Grid */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.row:before {
  content: " ";
  display: table;
}

.scrolleable {
  max-height: 400px;
  overflow: auto;
}

.col {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .col {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
}


/* ------------------------------------
  Inputs */

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #CCC;
  border-radius: 5px;
}

.input[disabled] {
  background-color: #CCC;
}
