.StatsTable {
  border-collapse: collapse;
}

.StatsTable thead th {
  background-color: #30D7A9;
  color: #FFF;
}

.StatsTable td, .StatsTable th {
  border: 1px solid #666;
  padding: 0.6rem 0.5rem;
  text-align: center;
  font-weight: 400;
}
