html {
  height: 100%;
}

body {
  height: 90%;
  padding: 15px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #F8FAFF;
  color: #232323;
  box-sizing: border-box;
}

h1, h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 500;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.3em;
}
h4 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

a, .link {
  color: #1B7D62;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

thead th {
  background-color: #31419E;
  color: #E0E7ED;
}

td, th {
  border: 1px solid #999;
  padding: 0.6rem 0.5rem;
  text-align: center;
  font-weight: 400;
}

/* ---------------------
  Common */

.hidden {
  display: none;
}

.icon {
  background-image: url("https://decentraland.org/images/icons.svg");
  vertical-align: top;
  display: inline-block;
}
.icon.icon-decentraland {
  width: 52px;
  height: 52px;
  background-position: 0 0;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-sizing: border-box;
}

.input[disabled] {
  background-color: #CCC;
}

.input.cmd {
  width: 78%;
  float: left;
}

.input.send {
  width: 20%;
  float: right;
  background-color: #30D7A9;
  color: #FFF;
}

.header {}

.row {
  width: 100%;
  overflow: hidden;
  padding: 25px 0 10px;
}

.scrolleable {
  max-height: 400px;
  overflow: auto;
}

.col {
  width: 100%;
  padding: 10px 0;
}

.col h2 {
  margin-bottom: 20px;
}

/* ---------------------
  Col styles */

.tiles ul {
  padding-left: 20px;
}
.tiles li {
  margin-bottom: 5px;
  word-break: break-all;
}

.tiles .loading {
  margin-top: 20px;
}

.rpc .form {
  margin-bottom: 15px;
  overflow: hidden;
}

.rpc .result {
  width: 100%;
  margin-bottom: 15px;
  display: block;
}

.transfer-tiles-modal {
  min-width: 35%;
  padding: 20px 50px;
}

.transfer-tiles-modal ul {
  list-style: none;
}

.transfer-tiles-modal .scrolleable {
  max-height: 280px;
}

@media (min-width: 768px) {
  .col {
    width: 48%;
    padding: 0;
    float: left;
  }

  .rpc {
    margin-left: 10px;
  }
}

/* ---------------------
   Toggle */

.toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: #CCC;
  display: block;
  border-radius: 100px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.toggle label:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #CCC;
  background: #FFF;
  border-radius: 90px;
  transition: 0.3s;
}

.toggle input:checked + label {
  background: #30D7A9;
}

.toggle input:checked + label:after {
  left: 100%;
  transform: translateX(-100%);
}
